#section1{
    color: #cc9b9b;
    border: #cc9b9b 1px solid;
    background-color: #213dcc;
}
#section1 a:hover{
    color: #213dcc;
}
#section2{
    color: #cc9b9b;
    background-color: blueviolet;
}
#section3{
    color: #cc9b9b;
    background-color: #3f1f60;
}